@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans&display=swap');

:root {
    --primary-color: #32227F;
    --cool-gray: #6B7280;
    --off-white: #E5E7EB;
}

body {
    font-family: 'Nunito Sans', sans-serif;
    margin: 0px;
}

.heading-blog{
    text-align: right;
}

.container {
    padding-left: 1rem;
    padding-right: 1rem;
}

.container-center {
    max-width: 600px;
    margin: auto;
}

.project-sec {
    padding: 2rem;
}

.project-sec ul {
    padding-inline-start: 0px;
}

.link {
    text-decoration: none;
    padding: 0.5rem 1rem;
}

.link-primary {
    background-color: var(--primary-color);
    border-radius: 0.5rem;
    color: white;
}

.link-active {
    font-weight: bold;
}

.link-secondary {
    color: #32227F;
    border-radius: 0.5rem;
    border: 1px solid var(--primary-color);
}


.list-non-bullet {
    list-style: none;
    padding-left: 0px;
}

.list-item-inline {
    display: inline;
    padding: 0rem 0.5rem;
}

.navigation {
    background-color: var(--primary-color);
    color: white;
    padding: 1rem;
    border-bottom-left-radius: 1rem;
}

.nav-brand {
    font-size: 1.1rem;
    font-weight: bold;
}

.navigation .link {
    text-decoration: none;
    color: white;
}

.navigation .nav-pills {
    text-align: right;
}

.hero {
    padding: 2rem;
}

.hero .hero-img {
    max-width: 350px;
    display: block;
    margin: auto;
}

.hero .hero-heading {
    text-align: center;
    color: var(--cool-gray);
}

.hero .heading-inverted {
    color: var(--primary-color);
}

.section{
    padding: 2rem;
}

.section h1 {
    text-align: center;
}

.ow {
    background-color: var(--off-white);
}

.footer {
    text-align: center;
    background-color: var(--primary-color);
    padding: 2rem 1rem;
    border-top-right-radius: 1rem;
    color: white;
}

.footer .footer-heading {
    font-weight: bold;
    font-size: large;
}

.footer .link {
    color: white;
}

.footer ul {
    padding-inline-start: 0px;
}

.line-break {
    width: auto;
    word-wrap: normal;
}